@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f0f0f0;
}

.loginform-container{
    height: auto;
    width: 25rem;
    margin: 5rem auto;
    padding:  2.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.icon-container{
    display: flex;
    height: 3.3em;
    width: 3.5em;
    margin: 0 auto 1rem;
    border-radius: 50%;
    background-color: #151515;
    align-items: center;
    justify-content: center;
    color: white;
}

.loginform-container h1{
    text-align: center;
    margin: 10px 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    color: #333;
}

.input-container{
    margin-top: 2rem;
    background-color: #f9f9f9;
    padding: 1.2rem;
    border-radius: 10px;
}

.input-container .form-content{
    margin: 1.5rem auto;
}

.ant-input-affix-wrapper {
    border-radius: 8px;
    height: 42px;
}

.ant-btn-primary {
    background-color: #151515;
    border: none;
    height: 42px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
}

.ant-btn-primary:hover {
    background-color: #DC5F00;
}

.ant-checkbox-wrapper {
    font-size: 0.9rem;
}

a {
    color: #686D76;
}

a:hover {
    color: #DC5F00;
}

.social-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 0.2em;
    gap: 20px;
}

.social-login img {
    height: 2.4rem;
    width: 2.5rem;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.social-login img:hover {
    transform: scale(1.1);
}

p {
    text-align: center;
    margin: 1.5rem 0 1rem;
    color: #555;
    font-weight: 500;
}
