*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
.banner-container{
    height: 15rem;
    padding:10px 20px;
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.bannercard-container{
    height: 13rem;
    width: 10rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 20px #aaaaaa;
}
.bannercard-container img{
    margin: 0;
    height: 9rem;
    width: 100%;
    background-repeat: no-repeat;
}
.bannercard-container h3{
    margin: 10px;
    text-align: center;
}
