@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
  /* Shared styling for the forms */
  .login-container, .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); /* Adjust height to prevent overlap */
  }
  
  .login-form, .signup-form {
    background-color: #e9ecef;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .login-form h2, .signup-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-radius: 5px;
  }
  
  .login-form button, .signup-form button {
    width: 100%;
    padding: 12px;
    background-color: #00a6fb;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form button:hover, .signup-form button:hover {
    background-color: #003554;
  }
  
  /* Links for form navigation */
  .form-links {
    margin-top: 20px;
  }
  
  .form-links p {
    color: #333;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .form-links a {
    color: #0582ca;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .form-links a:hover {
    color: #00a6fb;
  }
  